<header>
<h1>AFROTC United</h1>
<hr>
<style>
a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
a:link {
 text-decoration: none;
}
a{
        color: rgb(6, 28, 222);
        font-family: poligon ;
}
</style>
<header>
    <p class = usaflinks>
            <a href="https://webpages.charlotte.edu/apate225/itis3135/project/index.html">Home</a> ✈
            <a href="https://webpages.charlotte.edu/apate225/itis3135/project/info.html">Information</a> ✈
            <a href="https://webpages.charlotte.edu/apate225/itis3135/project/interest.html">Interest Form</a> ✈ 
            <a href="https://webpages.charlotte.edu/apate225/itis3135/project/photos.html">Photo Gallery</a> ✈ 
            <a href="https://webpages.charlotte.edu/apate225/itis3135/project/why.html">Why AFROTC United</a>
    </p>
 </header>
