 <header class = header><h1>ITIS 3135 | Ayush Patel's Angry Panda</h1>
        <p class = navLinks>
            <a href="https://webpages.charlotte.edu/apate225/itis3135/index.html">Home</a> |
            <a href="https://webpages.charlotte.edu/apate225/itis3135/introduction.html">Introduction</a> |
            <a href="https://webpages.charlotte.edu/apate225/itis3135/contract.html">Contract</a> | 
            <a href="https://webpages.charlotte.edu/apate225/itis3135/tables.html">Tables</a> | 
            <a href="https://webpages.charlotte.edu/apate225/itis3135/forms.html">Forms</a> | 
            <a href="https://webpages.charlotte.edu/apate225/itis3135/website_evaluations.html">Website Evaluations</a> |
            <a href="https://webpages.charlotte.edu/apate225/itis3135/firstscripts.html">First Scripts</a> |
            <a href="https://webpages.charlotte.edu/apate225/itis3135/polygons.html">Polygons</a> |
            <a href="https://webpages.charlotte.edu/apate225/itis3135/calculator_try.html">Calculator Try</a> |
            <a href="https://webpages.charlotte.edu/apate225/itis3135/calculator_fcc.html">Calculator FCC</a> |
            <a href="https://webpages.charlotte.edu/apate225/itis3135/calculator_part2.html">Calculator Part II</a> |
            <a href="https://webpages.charlotte.edu/apate225/itis3135/arrays.html">Arrays</a> |
            <a href="https://webpages.charlotte.edu/apate225/itis3135/slideshow.html">Slide Show</a> |
            <a href="https://webpages.charlotte.edu/apate225/itis3135/project/index.html">Project 1</a> |
            <a href="https://webpages.charlotte.edu/apate225/itis3135/review1.html">Peer Review 1</a> |
            <a href="https://webpages.charlotte.edu/apate225/itis3135/review2.html">Peer Review 2</a>
        </p>
        <hr>    
            <p class = "otherLinks">
                <a href="https://webpages.charlotte.edu/apate225/itis3135/stuff/POO:P00!.htm">Poo Poo Page</a> |
                <a href="https://webpages.charlotte.edu/apate225/itis3135/Accessibility/Patel-Activity_Accessibility.html">Accessibility</a> |
                <a href="https://webpages.charlotte.edu/apate225/itis3135/hobby/index.html">Hobby</a> |
                <a href="https://webpages.charlotte.edu/apate225/itis3135/Activity11/Patel-Activity11.html">Accordion Widget</a> |
                <a href="https://webpages.charlotte.edu/apate225/itis3135/Activity12/Patel-Activity12.html">bxSlider Plugin</a> |
                <a href="https://webpages.charlotte.edu/apate225/itis3135/Activity13/Patel-Activity13.html">XML to JSON</a> |
                <a href="https://webpages.charlotte.edu/apate225/itis3135/Activity14/Patel-Activity14.html">Load Speaker Files</a> |
                <a href="https://webpages.charlotte.edu/apate225/itis3135/Activity15/Patel-Activity15.html">Expanded JSON</a> 
                </p>
        </header>