<header>
<h1>AFROTC United</h1>
<hr>
<style>
a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
a:link {
 text-decoration: none;
}
a{
        color: rgb(6, 28, 222);
        font-family: poligon ;
}
</style>
    <p class = usaflinks>
            <a href="https://webpages.charlotte.edu/apate225/itis3135/index.html">Home</a> ✈
            <a href="https://webpages.charlotte.edu/apate225/itis3135/introduction.html">Information</a> ✈
            <a href="https://webpages.charlotte.edu/apate225/itis3135/contract.html">Forms</a> ✈ 
            <a href="https://webpages.charlotte.edu/apate225/itis3135/tables.html">Photo Gallery</a> ✈ 
            <a href="https://webpages.charlotte.edu/apate225/itis3135/forms.html">Join Us</a>
    </p>
 </header>
