 <footer> 
        <p class="footer"><a target="_blank" href="https://webpages.charlotte.edu/apate225/index.html">Webspace </a> | 
            <a href="https://github.com/ayushpatel1299">Github Pages </a> | 
            <a href="https://github.com/ayushpatel1299/angry_panda">Github Course Pages </a> | 
            <a href="https://www.freecodecamp.org/AyushPatel12">FreeCodeCamp</a> | 
            <a href="https://www.codecademy.com/profiles/ayushpatel1299">Codeacademy </a> | 
            <a href="https://www.linkedin.com/in/ayush-patel-4a1274207?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAADSK3LkBZVdne4v_x6lMTgPlyn4ExorWJWg&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BgHO%2F0dXER56cLSu5sf0mGw%3D%3D">LinkedIn</a> | 
            <a href="https://webpages.charlotte.edu/apate225/itis3135/website_evaluations.html">Website Evaluations</a></p> 
        <p><a href="https://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-html40.png" alt ="Link to HTML Validator"></a></p>
        <p><a href="https://jigsaw.w3.org/css-validator/check/referer"><img src="http://www.w3.org/Icons/valid-css.png" alt ="Link to CSS Validator"></a></p>
        <p>Designed by: <a href="https://webpages.charlotte.edu/apate225/itis3135/patel.work/index.html">Patel.work</a><br>
        <strong><em>Patels Do It Right ©</em></strong></p>
        <p><a class="nav" href="https://webpages.charlotte.edu/apate225/itis3135/patel.work/index.html">Firm Page<img class= "logo validator" src="https://i.pinimg.com/222x/5c/fd/e1/5cfde1df8dce2e94e554d94ca80c886a.jpg" alt ="Link to firm page"></a></p>
    </footer> 
