/*
<link rel="stylesheet" href="styles/default.css" type="text/css" >
*/
body {
    background-color: rgb(230, 186, 220) ;
  
}

a{
  color:inherit;
  color:rgb(163, 29, 85);
  font-family: courier;
  font-size:21px;
  
}
header:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
a:link {
 text-decoration: none;
}
h1 {
  color: rgba(94, 6, 129, 0.974);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  text-align: center;
}
h2 {
  color: rgb(68, 7, 167);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  text-align: center;
}
h3{
  color: rgba(33, 33, 137, 0.974);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  text-align: center;
}p {
  color: rgb(54, 4, 155);
  font-family: courier;
  font-size:110%;
  text-align: center;
}
ul{
  color: rgba(45, 2, 32, 0.679);
  font-family: courier;
  font-size:110%; 
}
table, th, td {
  border: 1px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tables{
  color: rgba(176, 142, 56, 0.607);
  font-family: courier;
  font-size: 160%;
  text-align: center; 
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.figcaption{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}
legend{
  color: rgb(55, 55, 160);
  font-family: courier;
  font-size:100%;
  text-align: center; 
}
input, label{
  color: rgb(55, 55, 160);
  font-family: courier;
  font-size:100%;
  text-align: center; 
  text-align: center; 
}
button {
  background-color: #5117a3;
  font-family: courier;border: double;
  color: hsl(313, 78%, 88%);
  padding: 4px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
hr{
  border: 1px solid rgba(163, 29, 85, 0.974);
}
figcaption{
  text-align: center; 
  color: rgba(33, 33, 137, 0.974); 
  font-family: Verdana, Geneva, Tahoma; 
  font-size: 150%;
}
table, th, tr{
  margin-left: auto;
  margin-right: auto;  
}
div.list{
  text-align: center;
}
ol.inline{
  display: inline-block;
  text-align: left;
}
img.hppic{
  white-space: nowrap; 
  width: 200px; 
  height: 250px;
}
p.footer{
  text-align: center;
}

.script1{
  text-align: center;
}
.polygons{
  text-align: center;
  margin-left: auto;
  margin-right: auto;  
  display: block;
  padding-bottom: 2px;
}
.firm nav{
display: inline-block;
position: relative; 
top: 0px; left: 0px; 
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.validator{
  white-space: nowrap; 
  width: 45px; height: 27px;
}
.logo{
  width:40px;
  height: 50px;
  white-space: nowrap;
}
.firm{
  text-align: center;
  color:inherit;
  color:rgba(163, 29, 85, 0.974);
  font-family: courier;
  font-size: 110%;
  top: 100%;
}
a:hover{
  color:white;
  text-decoration: none;
}
.icons{
  width:20%;
}
.mypicture{
  height:300px;

}
li{
  color: rgb(58, 34, 213);
}
strong{
color: rgb(103, 8, 132);
}
.slideshow{
  box-sizing:border-box;
 
}

/* Slideshow container */
.slideshow-container {
  max-width: fit-content;
  max-width: fit-content;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: .5px;
  color: white;
  background-color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  background-color: black;

  color: #f2f2f2;
  font-size: 15px;
  padding: 1px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 1px;
  background-color: black;
  position: absolute;
  top: 1px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
