header::a:visited {
  text-decoration: none;
}
a{
    font-size: 20px;
    color:rgb(70, 67, 72);
}
a:hover {
  text-decoration: rgb(30, 152, 30);
  color: rgb(11, 85, 11);
}

a:active {
  text-decoration:  green;
}
a:link {
 text-decoration:none;
}
a:visited{
    text-decoration: none;
}
html{
    background-color: rgb(93, 205, 153);
    color:rgb(70, 67, 72);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}