/* Coolors Exported Palette - https://coolors.co/628395-76b041-011936-f5e4d7-ebf5ee */

/* CSS HEX */
--slate-gray: #628395ff;
--green-ryb: #76b041ff;
--oxford-blue: #011936ff;
--champagne-pink: #f5e4d7ff;
--mint-cream: #ebf5eeff;

/* CSS HSL */
--slate-gray: hsla(201, 21%, 48%, 1);
--green-ryb: hsla(91, 46%, 47%, 1);
--oxford-blue: hsla(213, 96%, 11%, 1);
--champagne-pink: hsla(26, 60%, 90%, 1);
--mint-cream: hsla(138, 33%, 94%, 1);

/* SCSS HEX */
$slate-gray: #628395ff;
$green-ryb: #76b041ff;
$oxford-blue: #011936ff;
$champagne-pink: #f5e4d7ff;
$mint-cream: #ebf5eeff;

/* SCSS HSL */
$slate-gray: hsla(201, 21%, 48%, 1);
$green-ryb: hsla(91, 46%, 47%, 1);
$oxford-blue: hsla(213, 96%, 11%, 1);
$champagne-pink: hsla(26, 60%, 90%, 1);
$mint-cream: hsla(138, 33%, 94%, 1);

/* SCSS RGB */
$slate-gray: rgba(98, 131, 149, 1);
$green-ryb: rgba(118, 176, 65, 1);
$oxford-blue: rgba(1, 25, 54, 1);
$champagne-pink: rgba(245, 228, 215, 1);
$mint-cream: rgba(235, 245, 238, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #628395ff, #76b041ff, #011936ff, #f5e4d7ff, #ebf5eeff);
$gradient-right: linear-gradient(90deg, #628395ff, #76b041ff, #011936ff, #f5e4d7ff, #ebf5eeff);
$gradient-bottom: linear-gradient(180deg, #628395ff, #76b041ff, #011936ff, #f5e4d7ff, #ebf5eeff);
$gradient-left: linear-gradient(270deg, #628395ff, #76b041ff, #011936ff, #f5e4d7ff, #ebf5eeff);
$gradient-top-right: linear-gradient(45deg, #628395ff, #76b041ff, #011936ff, #f5e4d7ff, #ebf5eeff);
$gradient-bottom-right: linear-gradient(135deg, #628395ff, #76b041ff, #011936ff, #f5e4d7ff, #ebf5eeff);
$gradient-top-left: linear-gradient(225deg, #628395ff, #76b041ff, #011936ff, #f5e4d7ff, #ebf5eeff);
$gradient-bottom-left: linear-gradient(315deg, #628395ff, #76b041ff, #011936ff, #f5e4d7ff, #ebf5eeff);
$gradient-radial: radial-gradient(#628395ff, #76b041ff, #011936ff, #f5e4d7ff, #ebf5eeff);